<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Invoice </title>
    <style type="text/css">
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }

      th, td {
          padding: 15px;
      }
      table , td {
          border-spacing: 5px;
      }
    </style>

  </head>
  <body>
    <table width="100%">
        <tr>
            <th align="center" style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; color: #666666; text-decoration: none;" 
                colspan="12">
              <span style="color: #000; text-decoration: none;font-size: 30px;font-weight:bold;">Funky Vegetables &amp; Fruits Pvt. Ltd.</span> <br>
              <span style="color: #000; text-decoration: none;font-size: 13px;font-weight:bold;">Warehouse K3, Ansa Industrial Estate Sakivihar Road, Sakinaka -400072</span><br>
              <span style="color: #000; text-decoration: none;font-size: 13px;font-weight:bold;">Tel : 022-40021305  Contact: contact@xpressbiz.in </span>
              </th>
        </tr>
        <tr>
            <td align="center" style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="12">
              <span style="color: #ff3333; text-decoration: underline;font-size: 30px; font-weight:bold; text-transform:uppercase;">
              TAX INVOICE</span> 
            </td>
        </tr>
        <tr>
            <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="10">
              <span style="color: #000;margin: 10px;text-decoration: underline;font-size: 14px;font-weight:bold;
                text-transform:uppercase;">
                Name of Consignee :
              </span> 
            </td>
            <td align="center" rowspan="2" style="padding: 0px;">INV.NO.</td>
            <td align="center" rowspan="2" style="padding: 0px;">5465464</td>
        </tr>
        <tr>
            <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="10">
              <span style="color: #000; text-decoration: none;font-size: 14px; font-weight:bold; text-transform:uppercase;">
                &nbsp;&nbsp;&nbsp;&nbsp;
              </span> 
            </td>
        </tr>
        <tr>
            <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="10">
              <span style="color: #000; text-decoration: none;font-size: 14px; font-weight:bold; text-transform:uppercase;">
                &nbsp;&nbsp;&nbsp;&nbsp;
              </span> 
            </td>
            <td align="center" rowspan="2" style="padding: 0px;">CHALLAN NO.</td>
            <td align="center" rowspan="2" style="padding: 0px;">5465464</td>
        </tr>
        <tr>
            <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="10">
              <span style="color: #000; text-decoration: none;font-size: 14px; font-weight:bold; text-transform:uppercase;">
                &nbsp;&nbsp;&nbsp;&nbsp;
              </span> 
            </td>
        </tr>
        <tr>
            <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="10">
              <span style="color: #000; text-decoration: none;font-size: 14px; font-weight:bold; text-transform:uppercase;">
                &nbsp;&nbsp;&nbsp;&nbsp;
              </span> 
            </td>
            <td align="center" rowspan="2" style="padding: 0px;">Date.</td>
            <td align="center" rowspan="2" style="padding: 0px;">7-Jul-16</td>
        </tr>
        <tr>
            <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="10">
              <span style="color: #000; text-decoration: none;font-size: 14px; font-weight:bold; text-transform:uppercase;">
                &nbsp;&nbsp;&nbsp;&nbsp;
              </span> 
            </td>
        </tr>
        <tr>
            <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="12">
              <span style="color: #000; text-decoration: none;font-size: 14px; font-weight:bold; text-transform:uppercase;">
                &nbsp;&nbsp;&nbsp;&nbsp;
              </span> 
            </td>
        </tr>
        <tr>
          <th style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;"  colspan="1" width="100">Sr.No</th>
          <th style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;"  colspan="6" width="100">Description</th>
          <th style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;"  colspan="0" width="100">UOM</th>
          <th style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;"  colspan="0" width="100">SKU</th>
          <th style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;"  colspan="0" width="100">Quantity</th>
          <th style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;"  colspan="0" width="100">Unit Price</th>
          <th style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;"  colspan="0" width="100">Amount</th>
        </tr>
        <tr>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="6" width="200">&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;padding:8px;"
              colspan="1">INR          - </td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; background: #b3edff;padding:8px;"
              colspan="1">INR          - </td>
        </tr>
        <tr>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="6" width="200">&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;padding:8px;"
              colspan="1">INR          - </td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; background: #b3edff;padding:8px;"
              colspan="1">INR          - </td>
        </tr>
        <tr>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="6" width="200">&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;padding:8px;"
              colspan="1">INR          - </td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; background: #b3edff;padding:8px;"
              colspan="1">INR          - </td>
        </tr>
        <tr>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="6" width="200">&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;padding:8px;"
              colspan="1">INR          - </td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; background: #b3edff;padding:8px;"
              colspan="1">INR          - </td>
        </tr>
        <tr>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="6" width="200">&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;padding:8px;"
              colspan="1">INR          - </td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; background: #b3edff;padding:8px;"
              colspan="1">INR          - </td>
        </tr>
        <tr>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="6" width="200">&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;padding:8px;"
              colspan="1">INR          - </td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; background: #b3edff;padding:8px;"
              colspan="1">INR          - </td>
        </tr>
        <tr>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="6" width="200">&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;" colspan="1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; text-decoration: none;padding:8px;"
              colspan="1">INR          - </td>
          <td style="padding: 0 0 5px 0;  font-family: Arial, sans-serif; background: #b3edff;padding:8px;"
              colspan="1">INR          - </td>
        </tr>

        
    </table>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>